@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f7f7;
}

.body_main {
  padding-left: 18rem;
  transition: all 0.2s ease-in-out;
}

.body_main.active {
  transition: all 0.2s ease-in-out;
  padding-left: 0;
}

.body_main.active .sidebar {
  transition: all 0.2s ease-in-out;
  display: none;
}

.common_sec {
  padding: 1.7rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 700px) {
  html {
    font-size: 85%;
  }

  .sidebar.active {
    display: block;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 85%;
  }
}
